
<div class="contenedor">
    <!--
<div  class="app-user-profile">
<h1>Nombre: {{user.nombre}}</h1>
<h2>Edad: {{user.edad}}</h2>
<h2>email: {{user.email}}</h2>
<button  (click)="mostrar()">Ver lista</button>
<ul>
    <li *ngFor="let u of usuarios">
        {{u.id}} - {{u.nombre}} - {{u.edad}} años - {{u.email}}
    </li>
</ul>
</div>-->

<div class="crudUsuarios">
    <form>
    <h1>Selecciona una accion: </h1>
    <input type="radio" [(ngModel)]= "opcionSeleccionada" value="insert" name="opcion" id="insertar" (change)="verificarBotones()">
    <label for="insertar">Insertar</label>

    <input type="radio" [(ngModel)]= "opcionSeleccionada" value="read" name="opcion" id="buscar" (change)="verificarBotones()">
    <label for="buscar">Buscar</label>

    <input type="radio" [(ngModel)]= "opcionSeleccionada" value="update" name="opcion" id="modificar" (change)="verificarBotones()">
    <label for="modificar">Modificar</label>

    <input type="radio" [(ngModel)]= "opcionSeleccionada" value="delete" name="opcion" id="eliminar" (change)="verificarBotones()">
    <label for="eliminar">Eliminar</label> <br><br> 

    <div *ngIf= "mostrarId">
    <label for="txtId">Ingresa el ID:</label>
    <input [disabled]="modificarAutorizado" type="text" id="txtId" [(ngModel)]= "idEscrito"  name="idEscrito"> <br><br>
    </div>
    <div *ngIf= "mostrarInput">
    <label for="txtNombre">Ingresa el Nombre:</label>
    <input type="text" id="txtNombre" name="nombreEscrito" [(ngModel)]= "nuevoUsuario.nombre"> <br><br>
    </div>
    <div *ngIf= "mostrarInput">
    <label for="txtEdad">Ingresa la edad:</label>
    <input type="text" id="txtEdad" [(ngModel)]= "nuevoUsuario.edad" name="edadEscrito"> <br><br>
    </div>
    <div *ngIf= "mostrarInput">
    <label for="txtemail">Ingresa el email:</label>
    <input type="text" id="txtemail" [(ngModel)]= "nuevoUsuario.email" name="emailEscrito"> <br>
    </div>
    <button *ngIf="!modificarAutorizado" (click)="realizarAccion()">Aceptar</button>
    <button *ngIf="modificarAutorizado" (click)="confirmarModificacion()">Confirmar</button>
    <button  (click)="mostrar()">Ver lista</button>
    </form>
    </div>
    <div>
        <app-compo-hijo
        [usuarios]="usuarios"
        [mostrarTodos]="mostrarTodos"
        [mostrarBusqueda]="mostrarBusqueda"
        [usuarioEncontrado]="usuarioEncontrado"></app-compo-hijo>
    </div>
</div>